{% extends 'General/base.html' %}

{% block base %}
{% load static %}

<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <table>
        
    </table>
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                {% if user.profile.image %}
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ user.profile.img.url}}">
                    <span class="btn btn-primary btn-file"><input type="file"  name="{{ form.image.name }}"> </span>
                    <span class="font-weight-bold">{{request.user.username}}</span>
                    <span class="text-black-50">{{request.user.email}}</span>
                </div>
              {% else %}
             
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{% static 'img/default.png' %}">
                    <span ><input type="file"name="{{ form.image.name }}"> </span>
                    <span class="font-weight-bold">{{request.user.username}}</span>
                    <span class="text-black-50">{{request.user.email}}</span>
                    
                    </div>
              {% endif %}

            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Editar perfil</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" placeholder="Nombre" name="{{ form.first_name.name }}"></div>
                        <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control" name="{{ form.last_name.name }}"placeholder="Apellido"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label  class="labels">Numero de telefono</label><input  type='text' class="form-control" placeholder="enter phone number" name="{{ form.phone.name }}" ></div>
                        <div class="col-md-12"><label  class="labels">Direccion</label><input type="text" class="form-control" placeholder="enter address" value=""  name="{{ form.address.name }}"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-success" type="submit" >Guardar perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
  

    </form>

    {% if error %}
        <p style="color:red;">{{error}}</p>
    {% endif %}

{% endblock %}