<!DOCTYPE html>
<html lang="en">

{% extends 'General/base.html' %}
<body>
    
{% block base %}
{% load static %}
<div class="container py-4">
    <div class="row">
        <div class="col-lg-3">
           <a href="/shop"class="h2 pb-4"style="color: black"><h1 class="h2 pb-4" style="color: black">Categories</h1></a>
            {% if id_category %}
                            {% for categoria in id_category %}
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="/Productos/Shop_Category/{{categoria.id}}">
                        {{categoria.category}}
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    {% for sub_category in id_sub_category %}
                        {% if sub_category.category_id == categoria.id %}
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="/Productos/Shop_sub_Category/{{sub_category.id}}">{{sub_category.sub_category}}</a></li>
                    </ul>
                    {% endif %}
                    {% endfor %} 
                    
                </li>
            </ul>
            {% endfor%}
            {% endif %}
        </div>
        
        <div class="col-lg-9">
            <div class="row">
                {% for product in products_id %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        {% if product.img %}
                    <a href="/Productos/Shop_single/{{product.id}}"><img class="card-img rounded-0 img-fluid" src= '{{ product.img.url }}' alt='imagen de producto {{product.model}}'></a>
                {% else %}
                    <a href="/Productos/Shop_single/{{product.id}}"><img class="card-img rounded-0 img-fluid" src= '{% static "img/default.png" %}' alt='imagen de producto {{product.model}}'></a>
                {% endif %}
                <div class="card-body">
                    <a href="#" class="h3 text-decoration-none"><strong>{{product.model}}</strong></a>
                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                        <p class="text-center"><a href="#" class="btn btn-success">Precio: $ {{product.price}}</a></p>
                        <li class="pt-2">
                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                        </li>
                    </ul>                            
                </div>   
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
