
<!DOCTYPE html>
<html lang="en">
    {% extends 'General/base.html' %}

    {% block base %}
    {% load static %}
    {% load bootstrap5 %}

    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <!-- baner 1 -->
            {% for banner in id_banner %}
                {% if banner.banner == '1' %}
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row p-5">
                                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                    <img class="" src='{{ banner.img_banner.url }}' alt="">
                                </div>
                                <div class="col-lg-6 mb-0 d-flex align-items-center">
                                    <div class="text-align-left align-self-center">
                                        <h1 class="h1 text-success"><b>{{banner.title_banner}}</b></h1>
                                        <h3 class="h2">{{banner.sub_tittle_banner}}</h3>
                                        <p>
                                            {{banner.text_banner}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row p-5">
                                <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                                    <img class="" src='{{ banner.img_banner.url }}' alt="">
                                </div>
                                <div class="col-lg-6 mb-0 d-flex align-items-center">
                                    <div class="text-align-left">
                                        <h1 class="h1">{{banner.title_banner}}</h1>
                                        <h3 class="h2">{{banner.sub_tittle_banner}}</h3>
                                        <p>
                                            {{banner.text_banner}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <!-- baner 1 -->
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">
                    Featured Products</h1>
                <p>
                </p>
            </div>
        </div>
        
        <div class="row">
            {% if id_featured_products %}
                {% for featured_products in id_featured_products %} 
                    {% for product in id_product %}
                        {% if featured_products.product == product.model %}
                            {% if product.img %}
                                <div class="col-12 col-md-4 p-5 mt-3">
                                    <a href="/Productos/Shop_single/{{product.id}}"><img src='{{ product.img.url }}' class="rounded-circle img-fluid border"></a>
                                    <h5 class="h5 text-center mt-3 mb-3">{{product.model}}</h5>
                                    {% if product.stock > 0 %}
                                    <p class="text-center"><a href="/Productos/Shop_single/{{product.id}}" class="btn btn-success">To buy</a></p>
                                    {% else %}
                                    <p class="text-center"><a href="/Productos/Shop_single/{{product.id}}" class="btn btn-success">Sold out</a></p>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col-12 col-md-4 p-5 mt-3">
                                    <a href="/Productos/Shop_single/{{product.id}}"><img src='{% static "img/default.png" %}' class="rounded-circle img-fluid border"></a>
                                    <h5 class="h5 text-center mt-3 mb-3">{{product.model}}</h5>
                                    {% if product.stock > 0 %}
                                    <p class="text-center"><a href="/Productos/Shop_single/{{product.id}}" class="btn btn-success">to buy</a></p>
                                    {% else %}
                                    <p class="text-center"><a href="/Productos/Shop_single/{{product.id}}" class="btn btn-success">Producto Agotado</a></p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}     
                {% endfor %}
            {% endif %}
            
        </div>
    </section>
   <!-- Start Section -->
   <section class="bg-light py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Other services</h1>
            <p>
               
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                <h2 class="h5 mt-4 text-center">Delivery services</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4 text-center">Shipping & Returns</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                <h2 class="h5 mt-4 text-center">Promotions</h2>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4 text-center">
                    24 hour service</h2>
            </div>
        </div>
    </div>

<!-- End Section -->
</section>
    
   
    {% endblock %}
       
</body>

</html>